body{  
  height: 1000px;
  color: white;
} 

body, html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: cursive;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.overlay{
  height: 100%;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.welcome-text{
  text-align: center;
  font-size: 28px;
  font-family: 'Segoe UI', cursive;
  margin-top: 40px;
}

.welcome-subtext{
  text-align: center;
  font-size: 16px;
  margin-bottom: 70px;
}

video.bg-video{
  position: fixed;
  filter: blur(5px);
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

h2{
  margin: 0;
}

header{
  width: 100%;
  background-color: rgb(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 60px;
  top: 0;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.name{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

header h3{
  margin: 0;
}


.intro-des{
  padding-left: 55px;
  margin-top: 100px;
}

h3 span{
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 2px;
}


.Login{
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  outline: none;
}

.Login:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.Login:active{
  background-color: rgb(50, 50, 50);
}

.buttons{
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  gap: 10px;
}

.create{
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.5s;
  border: 1px solid;
  text-transform: capitalize;
  border-radius: 5px;
  position: fixed;
  bottom: 50px;
  z-index: 50;
  right: 10px;
  margin: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create img{
  width: 20px;
}

.create:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.create:active{
  cursor: wait;
  background-color: rgb(0, 180, 0);
}

.intro h1{
  font-size: 50px;
}

.intro p{
  font-size: 25px;
}

.function img{
  width: 40px;
  border-radius: 50%;
}

.function{
  color: white;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  padding-top: 10px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

a{
  text-decoration: none;
  color: black;
}

.function:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.function h3{
  margin-top: 7px;
  font-weight: 600;
}

.functions{
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  justify-content: space-around;
}

.function p{
  margin-top: 10px;
  font-weight: 300;
  font-size: 12px;
}

.login-cont{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
