body{
  background: url(../family\ connect\ backgroung.png) no-repeat center/cover;
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  color: white;
}

p{
  margin-top: 20px;
}

p a{
  color: rgb(10, 200, 200);
  text-decoration: none;
}

p a:active{
  color: rgb(10, 100, 210);
  /* color: rgb(55, 55, 55); */
  text-decoration: underline;
}

p a:hover{
  text-decoration: underline;
}

main{
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  backdrop-filter: blur(15px);
  border-radius: 15px;
}

#first{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: url(../icons/name.png) no-repeat 10px center;
  background-size: 25px;
  padding-left: 45px;
  color: white;
  font-size: 17px;
  margin-top: 20px;
}

#first::placeholder{
  color: white;
}
#last{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: url(../icons/name.png) no-repeat 10px center;
  background-size: 25px;
  padding-left: 45px;
  color: white;
  font-size: 17px;
  margin-top: 20px;
}

#last::placeholder{
  color: white;
}

#email{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: url(../icons/email.png) no-repeat 10px center;
  background-size: 25px;
  padding-left: 45px;
  color: white;
  font-size: 17px;
  margin-top: 20px;
  outline: none;
}

#email::placeholder{
  color: white;
}

body .back{
  position: absolute;
  top: 0px;
  left: 10px;
  color: white;
  text-decoration: none;
  width: 150px;
  margin: 5px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}


body .back:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}


#password{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: url(../icons/password.png) no-repeat 10px center;
  background-size: 25px;
  padding-left: 45px;
  color: white;
  outline: none;
  font-size: 17px;
  margin-top: 20px;
}

#password::placeholder{
  color: white;
}

#submit{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 17px;
  margin-top: 30px;
}

#submit:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

#submit:active{
  cursor: progress;
  background-color: rgba(255, 255, 255, 0);
}

.login-option img{
  width: 50px;
  border-radius: 50%;
}

.login-option{
  width: 70px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.login-option:hover{
  cursor: pointer;
}

.login-options{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.or{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line{
  position: relative;
  border-top: 1px solid white;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
